<div>
  <br/>
  <h2 class="brand-color">Day 1 - Node.js</h2>
  <p>
    <em>[1st September 2014]</em>
  </p>
  <p>
    <hr/>
    <h3 class="brand-color">Agenda</h3>
    <ul>
      <li>What is Node.js</li>
      <li>How Javascript on the server is different from Javascript on the client</li>
      <li>How Node's evented I/O works</li>
      <li>Event Loops</li>
      <li>Essential Node's design patterns</li>
      <li>NPM, what is it &amp; how to use it</li>
    </ul>
    <hr/>
    <h3 class="brand-color">Resources</h3>
    <ul>
      <li><a target="_blank" href="http://Node.js.org">Install Node.js</a>
      </li>
      <li><a target="_blank" href="http://git-scm.com/downloads">Install Git</a>
      </li>
    </ul>
    <hr />
    <h3 class="brand-color">Presentation
      <a class="link" href="http://mean-workshop.herokuapp.com/resources/day1/presentation/#/" target="_blank">
        <span class="glyphicon glyphicon-link"></span>
      </a>
    </h3>
    <iframe src="http://mean-workshop.herokuapp.com/resources/day1/presentation/#/" width="100%" height="600" style="border:none"></iframe>
    <hr/>
    <h3 class="brand-color">Hands on Examples</h3>
    <ul>
      <li><a target="_blank" href="https://github.com/arvindr21/MEAN-Workshop/tree/master/resources/day1/examples/01.setup">01. setup</a>
      </li>
      <li><a target="_blank" href="https://github.com/arvindr21/MEAN-Workshop/tree/master/resources/day1/examples/02.helloNode">02. helloNode</a>
      </li>
      <li><a target="_blank" href="https://github.com/arvindr21/MEAN-Workshop/tree/master/resources/day1/examples/03.npmScripts">03. npmScripts</a>
      </li>
      <li><a target="_blank" href="https://github.com/arvindr21/MEAN-Workshop/tree/master/resources/day1/examples/04.simpleFunctions">04. simpleFunctions</a>
      </li>
      <li><a target="_blank" href="https://github.com/arvindr21/MEAN-Workshop/tree/master/resources/day1/examples/05.requireModules">05. requireModules</a>
      </li>
      <li><a target="_blank" href="https://github.com/arvindr21/MEAN-Workshop/tree/master/resources/day1/examples/06.requireLocalModules">06. requireLocalModules</a>
      </li>
      <li><a target="_blank" href="https://github.com/arvindr21/MEAN-Workshop/tree/master/resources/day1/examples/07.httpServer">07. httpServer</a>
      </li>
      <li><a target="_blank" href="https://github.com/arvindr21/MEAN-Workshop/tree/master/resources/day1/examples/08.tcpServer">08. tcpServer</a>
      </li>
      <li><a target="_blank" href="https://github.com/arvindr21/MEAN-Workshop/tree/master/resources/day1/examples/09.fileUpload">09. fileUpload</a>
      </li>
    </ul>
    <hr/>
    <h3 class="brand-color">Q&A</h3>
    <h4>Q : Node.js benchmarking</h4>
    <ul>
      <li>A : Performance benchmarking results
        <ul>
          <li> <a target="_blank" href="https://code.google.com/p/node-js-vs-apache-php-benchmark/wiki/Tests">node-js-vs-apache-php-benchmark</a>
            <li><a target="_blank" href="http://java.dzone.com/articles/performance-comparison-between">Performance Comparison Between Node.js and Java EE</a>
            </li>
            <li><a target="_blank" href="http://www.salmanq.com/blog/net-and-node-js-performance-comparison/2013/03">.NET and Node.JS – Performance Comparison (Updated)</a>
            </li>
            <li><a target="_blank" href="http://strongloop.com/strongblog/node-js-is-faster-than-java/">What Makes Node.js Faster Than Java?</a>
            </li>
        </ul></li>
        </ul>
        <div class="text-center">
          <h3>Quick benchmarks</h3>
          <div class="responsive-video">
            <iframe width="640" height="360" src="http://www.youtube.com/embed/jo_B4LTHi3I?rel=0&start=1187&end=&autoplay=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <br/><br/>
      <h4>Q : NPM main field</h4>
      <h5>A : The main field is a module ID that is the primary entry point to your program. That is, if your package is named foo, and a user installs it, and then does <code>require("foo")</code>, then your main module's exports object will be returned. This should be a module ID relative to the root of your package folder. For most modules, it makes the most sense to have a main script and often not much else.</h5>
      <br/><br/>
      <h4>Q : Node.js and Memeory</h4>
      <ul>
      <li><a target="_blank"  href="https://www.joyent.com/blog/walmart-node-js-memory-leak">Walmart Node.js Memory Leak</a></li>
      <li><a target="_blank" href="https://www.npmjs.org/package/memwatch">node-memwatch: Leak Detection and Heap Diffing for Node.JS</a></li>
      </ul>
    </ul>

</div>
