<div>
  <br/>
  <h2 class="brand-color">Day 1 - Nodejs</h2>
  <p>
    <em>[1st September 2014]</em>
  </p>
  <p>
    <hr/>
    <h3 class="brand-color">Agenda</h3>
    <ul>
      <li>Install Nodejs</li>
      <li>Install Gitbash for windows</li>
      <li>Go through the presentation</li>
      <li>Hands on Examples</li>
    </ul>
    <hr/>
    <h3 class="brand-color">Resources</h3>
    <ul>
      <li><a target="_blank" href="http://nodejs.org">Install Nodejs</a>
      </li>
      <li><a target="_blank" href="http://git-scm.com/downloads">Install Git</a>
      </li>
    </ul>
    <hr />
    <h3 class="brand-color">Presentation
      <a class="link" href="http://mean-workshop.herokuapp.com/resources/day1/presentation/#/" target="_blank">
        <span class="glyphicon glyphicon-link"></span>
      </a>
    </h3>
    <iframe src="http://mean-workshop.herokuapp.com/resources/day1/presentation/#/" width="100%" height="600" style="border:none"></iframe>
    <hr/>
    <h3 class="brand-color">Hands on Examples</h3>
    <ul>
      <li><a target="_blank" href="https://github.com/arvindr21/MEAN-Workshop/tree/master/resources/day1/examples/01.setup">01. setup</a></li>
      <li><a target="_blank" href="https://github.com/arvindr21/MEAN-Workshop/tree/master/resources/day1/examples/02.helloNode">02. helloNode</a></li>
      <li><a target="_blank" href="https://github.com/arvindr21/MEAN-Workshop/tree/master/resources/day1/examples/03.npmScripts">03. npmScripts</a></li>
      <li><a target="_blank" href="https://github.com/arvindr21/MEAN-Workshop/tree/master/resources/day1/examples/04.simpleFunctions">04. simpleFunctions</a></li>
      <li><a target="_blank" href="https://github.com/arvindr21/MEAN-Workshop/tree/master/resources/day1/examples/05.requireModules">05. requireModules</a></li>
      <li><a target="_blank" href="https://github.com/arvindr21/MEAN-Workshop/tree/master/resources/day1/examples/06.requireLocalModules">06. requireLocalModules</a></li>
      <li><a target="_blank" href="https://github.com/arvindr21/MEAN-Workshop/tree/master/resources/day1/examples/07.httpServer">07. httpServer</a></li>
      <li><a target="_blank" href="https://github.com/arvindr21/MEAN-Workshop/tree/master/resources/day1/examples/08.tcpServer">08. tcpServer</a></li>
      <li><a target="_blank" href="https://github.com/arvindr21/MEAN-Workshop/tree/master/resources/day1/examples/09.fileUpload">09. fileUpload</a></li>
    </ul>
</div>
