<div>
  <br/>
  <h2 class="brand-color">Day 2 - Express.js</h2>
  <p>
    <em>[2nd September 2014]</em>
  </p>
  <p>
    <hr/>
    <h3 class="brand-color">Agenda</h3>
    <ul>
      <li>Go through the presentation</li>
      <li>Install Express.js</li>
      <li>Serverside Templating</li>
      <li>Express.js Middlewares</li>
      <li>Hands on Examples</li>
    </ul>
    <hr/>
    <h3 class="brand-color">Resources</h3>
    <ul>
      <li><a target="_blank" href="https://www.npmjs.org/package/express">Install Express.js</a>
      </li>
    </ul>
    <hr />
    <h3 class="brand-color">Presentation
      <a class="link" href="http://mean-workshop.herokuapp.com/resources/day2/presentation/#/" target="_blank">
        <span class="glyphicon glyphicon-link"></span>
      </a>
    </h3>
    <iframe src="http://mean-workshop.herokuapp.com/resources/day2/presentation/#/" width="100%" height="600" style="border:none"></iframe>
    <hr/>
    <h3 class="brand-color">Hands on Examples</h3>
    <ul>
      <li><a target="_blank" href="https://github.com/arvindr21/MEAN-Workshop/tree/master/resources/day2/examples/01.sampleApp">01. sampleApp</a>
      </li>
      <li><a target="_blank" href="https://github.com/arvindr21/MEAN-Workshop/tree/master/resources/day2/examples/02.scaffoldedApp">02. scaffoldedApp</a>
      </li>
      <li><a target="_blank" href="https://github.com/arvindr21/MEAN-Workshop/tree/master/resources/day2/examples/03.handleBarsLESSApp">03. handleBarsLESSApp</a>
      </li>
      <li><a target="_blank" href="https://github.com/arvindr21/MEAN-Workshop/tree/master/resources/day2/examples/04.middlewareIntercept">04. middlewareIntercept</a>
      </li>
      <li><a target="_blank" href="https://github.com/arvindr21/MEAN-Workshop/tree/master/resources/day2/examples/05.compressionMiddleware">05. compressionMiddleware</a>
      </li>
      <li><a target="_blank" href="https://github.com/arvindr21/MEAN-Workshop/tree/master/resources/day2/examples/06.csrfMiddleware">06. csrfMiddleware</a>
      </li>
    </ul>
    <hr/>
    <h3 class="brand-color">Real world Examples</h3>
    <ul>
      <li><a target="_blank" href="http://thejackalofjavascript.com/uploading-files-made-fun">Uploading files made fun with Express js and Blueimp file upload</a></li>
      <li><a target="_blank" href="http://www.sitepoint.com/creating-sentiment-analysis-application-using-node-js">Creating a Sentiment Analysis Application Using Node.js</a></li>
      <li><a target="_blank" href="http://thejackalofjavascript.com/file-browser-with-jstree-angularjs-and-expressjs">Building a Web Based File Browser with jsTree, Angularjs and Expressjs</a></li>
      <li><a target="_blank" href="http://thejackalofjavascript.com/list-all-rest-endpoints">List All REST Endpoints built using Express or Restify</a></li>
    </ul>
</div>
