<div>
  <br/>
  <h2 class="brand-color">Day 3 - MongoDB</h2>
  <p>
    <em>[3rd September 2014]</em>
  </p>
  <p>
    <hr/>
    <h3 class="brand-color">Agenda</h3>
    <ul>
      <li>Go through the presentation</li>
      <li>Install MongoDB</li>
      <li>Hands on Examples</li>
    </ul>
    <hr/>
    <h3 class="brand-color">Resources</h3>
    <ul>
      <li><a target="_blank" href="http://www.mongodb.org/downloads">Install MongoDB</a>
      </li>
    </ul>
    <hr />
    <h3 class="brand-color">Presentation
      <a class="link" href="http://mean-workshop.herokuapp.com/resources/day3/presentation/#/" target="_blank">
        <span class="glyphicon glyphicon-link"></span>
      </a>
    </h3>
    <iframe src="http://mean-workshop.herokuapp.com/resources/day3/presentation/#/" width="100%" height="600" style="border:none"></iframe>
    <hr/>
    <h3 class="brand-color">Hands on Examples</h3>
    <ul>
      <li><a target="_blank" href="https://github.com/arvindr21/MEAN-Workshop/tree/master/resources/day3/examples/01.NodeNMongo">01. NodeNMongo</a>
      </li>
      <li><a target="_blank" href="https://github.com/arvindr21/MEAN-Workshop/tree/master/resources/day3/examples/02.MongoExpressNode">02. MongoExpressNode</a>
      </li>
    </ul>
    <h3 class="brand-color">Real world Examples</h3>
    <ul>
      <li><a target="_blank" href="http://thejackalofjavascript.com/mapreduce-in-mongodb">MapReduce in MongoDB</a></li>
      <li><a target="_blank" href="http://thejackalofjavascript.com/nodejs-restify-mongolab-build-rest-api">Nodejs Restify MongoDB – Build your own REST API</a></li>
      <li><a target="_blank" href="http://blog.mongodirector.com/implementing-pagination-with-mongodb-express-js-slush">Implementing pagination with MongoDB, Express.js & Slush</a></li>
      <li><a href="http://thejackalofjavascript.com/an-end-to-end-hybrid-app" target="_blank">Ionic Restify MongoDB – An End to End Hybrid App</a></li>
    </ul>
</div>
