<div>
  <br/>
  <h2 class="brand-color">Day 4 - Angular.js</h2>
  <p>
    <em>[4th September 2014]</em>
  </p>
  <p>
    <hr/>
    <h3 class="brand-color">Agenda</h3>
    <ul>
      <li>Go through the presentation</li>
      <li>Setup Angular.js</li>
      <li>Hands on Examples</li>
    </ul>
    <hr/>
    <h3 class="brand-color">Resources</h3>
    <ul>
      <li><a target="_blank" href="https://angularjs.org/">angularjs.org</a>
      </li>
    </ul>
    <hr />
    <h3 class="brand-color">Presentation
      <a class="link" href="http://mean-workshop.herokuapp.com/resources/day4/presentation/#/" target="_blank">
        <span class="glyphicon glyphicon-link"></span>
      </a>
    </h3>
    <iframe src="http://mean-workshop.herokuapp.com/resources/day4/presentation/#/" width="100%" height="600" style="border:none"></iframe>
    <hr/>
    <h3 class="brand-color">Hands on Examples</h3>
    <ul>
      <li><a target="_blank" href="https://github.com/arvindr21/MEAN-Workshop/tree/master/resources/day4/examples/01.setupProject">01.setupProject</a>
      </li>
      <li><a target="_blank" href="https://github.com/arvindr21/MEAN-Workshop/tree/master/resources/day4/examples/02.modelBinding">02.modelBinding</a>
      </li>
      <li><a target="_blank" href="https://github.com/arvindr21/MEAN-Workshop/tree/master/resources/day4/examples/03.repeaters">03.repeaters</a>
      </li>
      <li><a target="_blank" href="https://github.com/arvindr21/MEAN-Workshop/tree/master/resources/day4/examples/04.filters">04.filters</a>
      </li>
      <li><a target="_blank" href="https://github.com/arvindr21/MEAN-Workshop/tree/master/resources/day4/examples/05.scopeFunctions">05.scopeFunctions</a>
      </li>
      <li><a target="_blank" href="https://github.com/arvindr21/MEAN-Workshop/tree/master/resources/day4/examples/06.ngInclude">06.ngInclude</a>
      </li>
      <li><a target="_blank" href="https://github.com/arvindr21/MEAN-Workshop/tree/master/resources/day4/examples/07.routers">07.routers</a>
      </li>
      <li><a target="_blank" href="https://github.com/arvindr21/MEAN-Workshop/tree/master/resources/day4/examples/08.ExpressNAngular">08.ExpressNAngular</a>
      </li>

    </ul>
    <h3 class="brand-color">Related Links</h3>
    <ul>
      <li><a href="http://thejackalofjavascript.com/file-browser-with-jstree-angularjs-and-expressjs" target="_blank">Building a Web Based File Browser with jsTree, Angularjs and Expressjs</a>
      </li>
      <li><a href="http://thejackalofjavascript.com/end-to-end-testing-with-protractor/" target="_blank">End to End Testing with Protractor</a>
      </li>
      <li><a href="http://thejackalofjavascript.com/getting-started-with-firebase/" target="_blank">Getting started with Firebase</a>
      </li>
      <li><a href="http://thejackalofjavascript.com/an-end-to-end-hybrid-app/" target="_blank">Ionic Restify MongoDB – An End to End Hybrid App</a>
      </li>
      <li><a target="_blank" href="http://thejackalofjavascript.com/node-webkit-firebase-simple-social-authentication/">node-webkit and Firebase – Simple and Social Authentication</a>
      </li>
      <li><a target="_blank" href="http://thejackalofjavascript.com/node-webkit-and-angularjs-a-moviestub-app/">Node webkit and Angularjs – A MovieStub App</a>
      </li>

    </ul>
</div>
