<div>
  <br/>
  <h2 class="brand-color">Day 5 - M.E.A.N.</h2>
  <p>
    <em>[5th September 2014]</em>
  </p>
  <p>
    <hr/>
    <h3 class="brand-color">Agenda</h3>
    <ul>
      <li>High level overview of M.E.A.N. and its architecture</li>
      <li>Understand Tools and Build systems</li>
      <li>Scaffold M.E.A.N. App</li>
      <li>Build one of our own</li>
    </ul>
    <hr/>
    <h3 class="brand-color">Resources</h3>
    <ul>
      <li><a target="_blank" href="http://mean.io">mean.io</a>
      </li>
      <li><a target="_blank" href="http://meanjs.org">meanjs.org</a>
      </li>
    </ul>
    <hr />
    <h3 class="brand-color">Presentation
      <a class="link" href="http://mean-workshop.herokuapp.com/resources/day5/presentation/#/" target="_blank">
        <span class="glyphicon glyphicon-link"></span>
      </a>
    </h3>
    <iframe src="http://mean-workshop.herokuapp.com/resources/day5/presentation/#/" width="100%" height="600" style="border:none"></iframe>
    <hr/>
    <h3 class="brand-color">Final Product</h3>
    <ul>
      <li><a target="_blank" href="https://github.com/arvindr21/MEAN-Todo-App">MEAN-Todo-App</a>
      </li>
    </ul>
</div>
