<div class="masthead" ng-controller="HeaderCtrl">
  <h4 class="pull-right author">By Arvind Ravulavaru 
      [<a target="_blank" href="http://thejackalofjavascript.com">My Blog</a>]
  </h4>
  <h2 class="brand-color">\o/ M.E.A.N Workshop</h2>
  <h4 class="text-muted">September 1st to 5th</h4>

  <ul class="nav nav-justified">
    <li ng-class="{active:isActive('/')}"><a href="#/">Welcome</a>
    </li>
    <li ng-class="{active:isActive('/day1')}"><a href="#/day1">Day 1 - Node.js</a>
    </li>
    <li ng-class="{active:isActive('/day2')}"><a href="#/day2">Day 2 - Express.js</a>
    </li>
    <li ng-class="{active:isActive('/day3')}"><a href="#/day3">Day 3 - MongoDB</a>
    </li>
    <li ng-class="{active:isActive('/day4')}"><a href="#/day4">Day 4 - Angular.js</a>
    </li>
    <li ng-class="{active:isActive('/day5')}"><a href="#/day5">Day 5 - M.E.A.N</a>
    </li>
  </ul>
</div>
