<div>
  <br/>
  <h2>Welcome to the Workshop</h2>
  <p>
    <em>[1st September 2014 - 5th September 2014]</em>
  </p>
  <p>
    <hr/>

    <div class="row">
      <div class="col-md-6">
        <h2 id="day-1" class="brand-color">Day 1</h2>
        <h3 id="node-js-_-2-hours-_" class="brand-color-muted">
          <a class="link" href="#/day1">
            <span class="glyphicon glyphicon-link"></span>
          </a>Node.js
          <em>[2 hours]</em>
        </h3>
        <p>We will be going through the basics of Node.js</p>
        <ul>
          <li>What is Node.js</li>
          <li>How Javascript on the server is different from Javascript on the client</li>
          <li>How Node's evented I/O works</li>
          <li>Event Loops</li>
          <li>Essential Node's design patterns</li>
          <li>NPM, what is it &amp; how to use it</li>
        </ul>
      </div>

      <div class="col-md-6">
        <h2 id="day-2" class="brand-color">Day 2</h2>
        <h3 id="express-js-_-2-hours-_" class="brand-color-muted">
          <a class="link" href="#/day2">
            <span class="glyphicon glyphicon-link"></span>
          </a>Express.js
          <em>[2 hours]</em>
        </h3>
        <p>We will going through the basics of Express.js</p>
        <ul>
          <li>What is Express.js?</li>
          <li>Hands on Sample app</li>
          <li>Structuring an Express.js application</li>
          <li>Different serverside templating languages</li>
          <li>Understanding Middlewares</li>
        </ul>
      </div>
    </div>
    <br/>
    <br/>
    <div class="row">
      <div class="col-md-6">
        <h2 id="day-3" class="brand-color">Day 3</h2>
        <h3 id="mongodb-_-2-hours-_" class="brand-color-muted">
          <a class="link" href="#/day3">
            <span class="glyphicon glyphicon-link"></span>
          </a>MongoDB
          <em>[2 hours]</em>
        </h3>
        <p>We will go through the basics of MongoDB</p>
        <ul>
          <li>What is MongoDB?</li>
          <li>What is JSON/BSON data?</li>
          <li>Installing MongoDB?</li>
          <li>Interacting with MongoDB using mongo shell as well as MongoDB native drivers/Mongojs</li>
          <li>CRUD with MongoDB</li>
          <li>Node.js + MongoDB example</li>
          <li>Node.js + Express.js + MongoDB example</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h2 id="day-4" class="brand-color">Day 4</h2>
        <h3 id="angularjs-_-2-hours-_" class="brand-color-muted">
          <a class="link" href="#/day4">
            <span class="glyphicon glyphicon-link"></span>
          </a>Angularjs
          <em>[2 hours]</em>
        </h3>
        <p>We will go through the basics of Angularjs</p>
        <ul>
          <li>What &amp; Why of Angularjs</li>
          <li>Understanding that Angularjs is a framework and not a
            <strong>"2 way data binding library"</strong>
          </li>
          <li>Understanding Filters, Routers, Controllers and Factories</li>
          <li>Setup bower to maintain dependencies</li>
          <li>Hands on basic examples</li>
          <li>Angular.js + Express.js example</li>
          <li>Angular.js + Express.js + Node.js + MongoDB example</li>
        </ul>

      </div>
    </div>
    <br/>
    <br/>
    <div class="row">
      <div class="col-md-6">
        <h2 id="day-5" class="brand-color">Day 5</h2>
        <h3 id="m-e-a-n-stack-app-_-2-hours-_" class="brand-color-muted">
          <a class="link" href="#/day5">
            <span class="glyphicon glyphicon-link"></span>
          </a>M.E.A.N. Stack App
          <em>[2 hours]</em>
        </h3>
        <p>On the final day, we will build an End to End Todo Application leveraging the M.E.A.N stack with user authentication.</p>
       </div>
      <div class="col-md-6">
        <h2 id="day-5" class="brand-color">\o/</h2>
        <h3 class="brand-color-muted">
          <a class="link" target="_blank" href="https://github.com/arvindr21/MEAN-Workshop">
            <span class="glyphicon glyphicon-link"></span>MEAN Workshop Github Repo
          </a>
        </h3>
        <h3 class="brand-color-muted">
          <a class="link" target="_blank" href="https://twitter.com/arvindr21">
            @arvindr21
          </a>
        </h3>
        <h3 class="brand-color-muted">
          <a class="link" target="_blank" href="https://plus.google.com/+ArvindRavulavaru">
            +ArvindRavulavaru
          </a>
        </h3>
        <h3 class="brand-color-muted">
          <a class="link" target="_blank" href="https://github.com/arvindr21">
            arvindr21
          </a>
        </h3>
        <h3 class="brand-color-muted">
          <a class="link" target="_blank" href="http://thejackalofjavascript.com">
            The Jackal of Javascript
          </a>
        </h3>
      </div>
    </div>

</div>
